@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alata', 'Josefin Sans', sans-serif;
}

body {
  background-color: hsl(0, 0%, 100%);
  background-image: url(./images/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  font-size: 15px;
}

nav {
  display: flex;
  align-items: center;
  margin: 40px 10%;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav ul li {
  padding-left: 30px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

nav li:hover {
  transform: scale(0.9);
}

.logo {
  cursor: pointer;
}

header p {
  color: hsl(0, 0%, 100%);
  font-size: 4rem;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 3px;
}

fieldset {
  margin: 40px 10%;
  padding: 20px 90px 20px 20px;
  display: inline-block;
  margin-top: 6rem;
}

.top {
  margin: 15% 7% 5% 10%;
  display: flex;
  align-items: center;
  position: relative;
}

.text-block {
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  left: 52%;
  bottom: 0;
  padding: 60px 40px 0 60px;
}

.top p {
  line-height: 1.8;
  color: hsl(0, 0%, 41%);
}

.top h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: normal;
  padding-bottom: 20px;
  font-family: 'Josefin Sans';
}

.down {
  margin: 8% 10% ;
}

.creation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.creation .big {
  font-size: 36px;
  font-weight: normal;
  font-family: 'Josefin Sans';
}

button {
  background-color: #fff;
  border: 2px solid hsl(0, 0%, 55%);
  padding: 5px 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 6% 10%;
  gap: 20px;
}

.grid-container img {
  transition: .2s ease-in-out;
  cursor: pointer;
}

.grid-container img:hover {
  transform: scale(1.1);
}

.item {
  position: relative;
}

.text {
  position: absolute;
  bottom: 20px;
  font-size: 30px;
  display: block;
  color: #fff;
  font-weight: 0;
  padding: 25px;
  text-transform: uppercase;
  font-family: 'Josefin Sans';
}

footer {
  background-color: black;
  color: #fff;
  padding: 40px 10%;
  margin-top: 150px;
}

footer img {
  cursor: pointer;
  transition: .2s ease-in-out;
}

footer img:hover {
  transform: scale(.9);
}

.up {
  display: flex;
  justify-content: space-between;
}

.up i {
  padding: 0 0 0 10px;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.bottom ul {
  display: flex;
  list-style: none;
}

.bottom li {
  padding: 0 30px 0 0;
  cursor: pointer;
}

.rights {
  color: hsl(0, 0%, 55%);
}

.menu i {
  background-color: white;
  color: black;
  width: 50%;
}

@media screen and (min-width: 400px){
  .menu {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .logo {
    width: 50%;
  }

  .menu img {
    cursor: pointer;
  }

  nav {
    padding-top: 50px;
  }

  nav ul {
    display: none;
  }

  body {
    background-image: url(./images/mobile/image-hero.jpg);
    background-repeat: no-repeat;
  }

  fieldset {
    padding: 25px 15px;
    margin-top: 200px;
    margin-bottom: 200px;
  }

  fieldset p {
    font-size: 35px;
  }

}


